*{
    padding: 0;
    margin: 0;
    /* border: solid 1px red; */
}
body{
    background-image: url(/assets/img/background.jpg);
    display: flex;
   justify-content: center;
   align-items: center;
}

main{
    background-color: hsla(216, 100%, 65%, 0.9);
    width: 850px;
    height: 750px;
    margin-top: 100px;
    box-shadow: 50px;
    border-radius: 1.5%;
    border: 20px solid #2F54A4;
}



#img-glob{
    display: flex;
    /* border: 2px solid red; */
    justify-content: space-around;
}

.colomne{
    height: 50px;
    /* border: 1px solid red; */
    width: 50px;
    justify-content: right;

}

.img-box{
    width: 283px;
    height: 320px;
    border-style: none;
}

.ma-class{
    font-family: "Pokemon font";
    color: #2F54A4;
}

.mon-select{
    background-color: #2F54A4;
    height: 30px;
    
    color: #FBCC01;
    /* font-family: "Pokemon font"; */
    
}
fieldset{
    padding: 25px;
    margin: 0px 230px;
    border: 5px solid #2F54A4;
}


@font-face {
    font-family: "Pokemon font";
    src: url(/assets/font/Pokemon\ Solid.ttf);
}

h1{
    text-align: center;
    margin: 55px;
    font-size: 50px;
    font-family: "Pokemon font";
    color: #FBCC01;
    -webkit-text-stroke: 2px #2F54A4;
    text-shadow: 0 0 2px #2F54A4 ;
}

.ma-div-recherche{
    display: flex;
    justify-content: center;
}

.colomne{
    /* justify-content: right; */
    /* border: 1px solid red; */
    height: 320px;
    width: 100px;
   

}
.HP{
    height: 52px;
    width: 100px;
    border: 3px solid #2F54A4;
    font-size: 50px;
    text-align: center;
    color: #2F54A4;
}

.attack{
    height: 52px;
    width: 100px;
    border: 3px solid #2F54A4;
    font-size: 50px;
    text-align: center;
    color: #2F54A4;
}
.defense{
    height: 52px;
    width: 100px;
    border: 3px solid #2F54A4;
    font-size: 50px;
    text-align: center;
    color: #2F54A4;
}

.attack-special{
    height: 52px;
    width: 100px;
    border: 3px solid #2F54A4;
    font-size: 50px;
    text-align: center;
    color: #2F54A4;
}

.defense-special{
    height: 52px;
    width: 100px;
    border: 3px solid #2F54A4;
    font-size: 50px;
    text-align: center;
    color: #2F54A4;
}

.speed{
    height: 52px;
    width: 100px;
    border: 3px solid #2F54A4;
    font-size: 50px;
    text-align: center;
    color: #2F54A4; 
    margin-bottom: px;
}

